* {
    box-sizing: border-box; /* adiciona box-sizing globalmente */
}

@font-face {
    font-family: 'pixelart'; /* nome usado no css */
    src: url('/assets/fonts/arcadeclassic/ARCADECLASSIC.TTF') format('ttf'), 
        url('/assets/fonts/arcadeclassic/ARCADECLASSIC.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vcr'; /* nome usado no css */
    src: url('/assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('ttf'),
        url('/assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw;
    background-image: url('/assets/images/mapa.png');
    background-size: 100% 100%; /* Distorce a imagem para caber no fundo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Mantém o fundo fixo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.main .barra-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    background-color: #8c5a3c ;
    border: 4px solid #b86f50;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.653);
    border-radius: 8px;
    width: 680px;
}

.main .barra-menu img {
    width: 75%;
}

.main .barra-menu button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main .barra-menu button:hover {
    transform: scale(1.1); /* Aumenta 10% do tamanho original */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Efeito de destaque */
}

.main .barra-menu button:not(:hover) {
    opacity: 0.8;
}

.main .plantacao {
    background-image: url('/assets/images/meio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 780px;
    height: 520px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-sizing: border-box;
    gap: 1px;
}

.main .plantacao .areas-plantacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.main .plantacao .areas-plantacao .area-plantio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #b86c4b27;
    border-radius: 8px;
    position: relative;
    z-index: 999;
    width: 145px;
    height: 115px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    cursor: inherit !important; 
}

.main .plantacao .areas-plantacao :hover {
    background-color:rgba(109, 69, 17, 0.048);
}

.botao button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 100px; 
    border: none;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    background-image: url(/assets/images/moldura.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

i {
    color: #8f5840;
    font-size: 60px;
    opacity: 1;
}

i:not(:hover) {
    color: #8f5840;
    opacity: 0.7;
}

.main .moedas {
    display: flex;
    justify-content: center;
}

.main .moedas .qtde-moedas:hover {
    box-shadow: 2px 2px 8px #ffd900ce;
}

.main .moedas:hover {
    cursor: pointer;
}

.main .moedas .qtde-moedas {
    position: relative;
    background-color: #8c5a3c;
    padding: 15px;
    border: 4px solid #b86f50;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.653);
    font-size: 50px;
    text-shadow: 2px 2px 0 #b86f50;
    color: #ffd900ce;
    font-family: 'vcr', sans-serif;
    letter-spacing: 4px;
}

.inventario {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 22%;
    right: 5%;
    z-index: 1001; /* fica acima do inventário */
    background-color: #ffba81 ;
    border: 4px solid #b86f50;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'vcr', sans-serif;
    font-size: 30px;
    width: 350px;
    height: 500px;
    gap: 4px;
}

.inventario .texto-inventario {
    display: flex;
    justify-content: center;
    color: #8c5a3c;
    text-shadow: 2px 2px 0 #b86c4b;
    font-size: 30px;
    padding: 8px;

}

.inventario .itens-inventario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.inventario .itens-inventario .item {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #b86f5057;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 140px;
    padding: 4px;
}

.inventario .itens-inventario .item img {
    width: 120px;
    height:100px;
    opacity: 0.6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.inventario .itens-inventario .item img:hover {
    opacity: 1;
    transform: scale(1.1); /* Aumenta 10% do tamanho original */
}

.telaPause {
    display: none;
    z-index: 2;
}

.telaPause .botoes__telaPause{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* maior que o z-index da overlay */
    background-color: #ffba81 ;
    border: 4px solid #b86f50;
    border-radius: 20px;
    cursor: pointer;
    width: 800px;
    height: 500px;
    gap: 15px;
}

.telaPause .botoes__telaPause button{
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #3e8948;
    color: #ffba81;
    font-family: 'vcr', sans-serif;
    font-size: 50px;
    border: 2px solid #b86f50;
    text-shadow: 2px 2px 0 #b86c4b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.telaPause .botoes__telaPause button:hover{
    background-color: #b86f50;
    color: #ffba81;
    border-radius: 8px;
    border: 2px solid #3e8948;
    transform: scale(1.1); /* Aumenta 10% do tamanho original */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    display: none;
    z-index: 1; /* fica atrás da tela de pausa */
}
.tela-volume {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 

    background-color: #ffba81;
    border: 4px solid #b86f50;
    border-radius: 20px;
    color: #8c5a3c;
    font-family: 'vcr', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 0 #b86c4b;
    padding: 20px 40px;
    width: 600px;
    height: 350px;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 20px;
}

.volume-control .direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.volume-config {
    -webkit-appearance: none; /* remove o estilo padrão no Chrome/Safari */
    appearance: none;
    width: 150px; 
    background: #3e8948;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #b86c4b;
}

/* estilo para o "polegar" (o botão que o usuário arrasta) */
.volume-config::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 1px;
height: 15px; 
background: #b86c4b;
cursor: pointer; 
}

/* estilo do "polegar" em Firefox */
.volume-config::-moz-range-thumb {
width: 20px;
height: 20px;
background: #b86c4b;
border-radius: 50%;
cursor: pointer;
}

.volume-config::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #ffba81;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #b86c4b;
}

/* estilo da barra quando o controle é movido */
.volume-config:focus {
background: #b86c4b;
}

.tela-volume .volumes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
}

.btn-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    background-color: #ffba81;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'pixelart', sans-serif;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #b86c4b;
    text-align: center;
    border: 2px solid #b86f50;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.titulo-botao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

.btn-x:hover {
    background-color: #b86c4b;
    color: #ffba81;
    border: 2px solid #ffba81;
    transform: scale(1.1);
}
@media (max-width: 1720px) {
    .main .plantacao {
        width: 660px;
        height: 450px;
    }

    .main .plantacao .areas-plantacao .area-plantio {
        width: 125px;
        height: 100px; 
    }

    .main .barra-menu {
        gap: 25px;
        width: 580px;
    }

    .botao button {
        width: 90px; 
        height: 90px; 
    }

    .main .moedas .qtde-moedas{
        padding: 15px;
        font-size: 45px;
    }
    
    .inventario{
        font-size: 25px;
        width: 300px;
        height: 450px;
    }

    .inventario .itens-inventario .item{
        width: 120px;
        height: 110px;
    }

    .inventario .itens-inventario .item img{
        width: 100px;
        height:80px;
    }
}

@media (max-width: 1370px) {
    .main .plantacao {
        width: 540px;
        height: 360px;
    }

    .main .plantacao .areas-plantacao .area-plantio {
        width: 98px;
        height: 80px; 
    }

    .main .barra-menu {
        gap: 20px;
        padding: 8px;
        width: 500px;
    }

    .botao button {
        width: 75px; 
        height: 75px; 
    }

    .main .moedas .qtde-moedas{
        padding: 10px;
        font-size: 40px;
    }
    
    .inventario{
        font-size: 20px;
        width: 250px;
        height: 350px;
    }

    .inventario .itens-inventario .item{
        width: 100px;
        height: 90px;
    }

    .inventario .itens-inventario .item img{
        width: 80px;
        height:60px;
    }
}